@use '../abstract/index.scss' as *;

.banner {
  margin-block: 138px;
  height: 1152px;

  &__wrapper {
    margin-inline: auto;
    position: fixed;
    width: 54%;
    z-index: 1;
    left: 0;
    right: 0;
  }
  
  &__headers {
    @include flex-column(32px);
    margin-bottom: 32px;
  }
}

.title_banner {
  font-size: 8.8rem;
  line-height: 1.136;
  text-transform: capitalize;
}
