@use '../abstract/index.scss' as *;

.bg {
  @include absolute-filler;
  display: grid;
  grid-template-rows: 41.3% 58.7%;
  width: 100vw;
  height: 100%;

  @include xl {
    grid-template-rows: 45% 55%;
  }

  &__main {
    position: relative;

    &::after {
      content: "";
      display: block;
      position: absolute;
      height: 48.73%;
      width: 100%;
      bottom: 10.84%;
      background-image: url('./img/webp/VG.webp');
      background-image: image-set(
        url("./img/webp/VG.webp") type("image/webp"), 
        url("./img/png/VG.png") type("image/png")
      );
      background-image: -webkit-image-set(
        url("./img/webp/VG.webp") type("image/webp"), 
        url("./img/png/VG.png") type("image/png")
      );
      background-repeat: no-repeat;
      background-position: top;
      background-size: cover;
      z-index: 2;
    }
  }

  &__rest {
    z-index: 3;
    background-color: $bg-color;
  }

  &_back, &_middle {
    position: absolute;
    left: 0;
    width: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
  }

  &_back {
    height: 63.16%;
    background-image: url('./img/webp/HG.webp');
    background-image: image-set(
      url("./img/webp/HG.webp") type("image/webp"), 
      url("./img/png/HG.png") type("image/png")
    );
    background-image: -webkit-image-set(
      url("./img/webp/HG.webp") type("image/webp"), 
      url("./img/png/HG.png") type("image/png")
    );
    z-index: -2;
  }

  &_middle {
    height: 75%;
    top: 24.4%;
    background-image: url('./img/webp/MG.webp');
    background-image: image-set(
      url("./img/webp/MG.webp") type("image/webp"), 
      url("./img/png/MG.png") type("image/png")
    );
    background-image: -webkit-image-set(
      url("./img/webp/MG.webp") type("image/webp"), 
      url("./img/png/MG.png") type("image/png")
    );
    z-index: -2;
  }

  &__gradients {
    @include absolute-filler;
    display: grid;
    grid-template-rows: 63.16% 36.84%;
  }

  &__gradient {
    &_top {
      background: linear-gradient(330.24deg, #0b1d2600 31.06%, #0B1D26 108.93%);
    }

    &_bottom {
      z-index: 3;
      background: linear-gradient(180deg, #0b1d2600 0%, #0B1D26 61.38%);
    }
  }
}