@use '../abstract/index.scss' as *;

footer {
  padding-bottom: 7.22em;
  position: relative;
  z-index: 4;

  & .container {
    @include flex-standard;
  }
}

.footer {
  &__info {
    @include flex-column(0);
    justify-content: space-between;
    width: 24%;

    @include xl {
      width: 40%;
    }

    @include md {
      width: 100%;
    }
  }

  &__cta {
    width: 87.3%;
    
    & p {
      line-height: 1.8;
    }
  }

  &__links {
    width: 38.7%;
    @include flex-standard;

    @include xl {
      width: 50%;
    }

    @include md {
      display: none;
    }
  }
}

.copyright {
  opacity: 0.5;
}

.links {
  &__list {
    @include flex-column(1.125em);
  }
}