@use '../abstract/index.scss' as *;

header {
  position: relative;
  z-index: 3;
  
  @include xxl {
    padding-block: 64px;
  }

  @include xl {
    padding-block: 34px;
  }
}

.header__nav {
  @include md {
    display: none;
  }
}

.nav__list {
  @include flex-standard;
  align-items: center;
  gap: 40px;
}

.link {
  line-height: 1.21;
}

.account {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;

  &::before {
    content: url("././img/svg/account.svg");
    width: 20px;
    height: 20px;
    user-select: none;
    @include animation(transform, 0.5s);
  }
}

@media (hover: hover) {
  .account:hover{
    &::before {
      transform: scale(1.25);
    }
  }
}