@use '../abstract/index.scss' as *;

header {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  padding-block: 3.5em;
  z-index: 3;
}

.header {
  &__nav {
    @include md {
      display: none;
    }
  }
  
  &__misc {
    @include flex-standard;
    gap: 2.22em;
  }
}

.nav__list {
  @include flex-standard;
  align-items: center;
  gap: 2.22em;
}

.burger {
  &__menu {
    display: none;
  }
  
  &__btn {
    background-color: transparent;
    border: 0;
    padding: 0;
    display: none;

    @include md {
      display: block;
    }

    & img {
      height: 1.111em;
      vertical-align: bottom;
    }
  }
}

.link {
  line-height: 1.21;
}

.account {
  display: flex;
  align-items: center;
  gap: 0.44em;
  cursor: pointer;

  @include md {
    font-size: 1.6rem;
  }

  &__text {
    @include sm {
      display: none;
    }
  }

  & img {
    user-select: none;
  }
}

@media (hover: hover) {

}