@use '../abstract/index.scss' as *;

header {
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  padding-block: 3.5em;
  z-index: 3;
}

.header__nav {
  @include md {
    display: none;
  }
}

.nav__list {
  @include flex-standard;
  align-items: center;
  gap: 2.22em;
}

.link {
  line-height: 1.21;
}

.account {
  display: flex;
  align-items: center;
  gap: 0.44em;
  cursor: pointer;

  @include md {
    font-size: 1.6rem;
  }

  @include xs {
    display: none;
  }

  &::before {
    content: "";
    background-image: url("././img/svg/account.svg");
    background-size: 1.111em 1.111em;
    width: 1.111em;
    height: 1.111em;
    user-select: none;
    @include animation(transform, 0.5s);
  }
}

@media (hover: hover) {
  .account:hover{
    &::before {
      transform: scale(1.25);
    }
  }
}