@use '../abstract/index.scss' as *;

.socials, .socials__list {
  @include flex-column(28px);
  align-items: center;
}

.utility {
  position: fixed;
  top: 35.43vh;
  z-index: 999;
}

.socials {
  left: 4.15%;

  &__cta {
    display: inline-block;
    writing-mode: tb;
    cursor: default;
  }
}

.nav__slider {
  right: 4.15%;
}

.link_socials {
  display: block;
  width: fit-content;
  height: fit-content;

  & img {
    vertical-align: bottom;
    width: 22px;
    aspect-ratio: 1 / 1;
    @include animation(transform, 0.5s);
  }
}

.slider {
  @include flex-column(0);
  align-items: end;

  &__item {
    border-right: 2px solid #ffffff80;
    @include animation(border, 0.5s);
    user-select: none;
    
    &.active {
      border-color: $text-color;
    }

    & a {
      display: block;
      padding-block: 1.9rem;
      padding-right: 32px;
    }
  }
}

@media (hover: hover) {
  .link_socials img:hover {
    transform: scale(1.4);
  }
}