@use 'colors' as colors;

@font-face {
  font-family: Chronicle-Display;
  src: url('/src/fonts/Chronicle-Display-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url('/src/fonts/Gilroy-ExtraBold.otf');
  font-weight: 800;
}

$header-font: 'Chronicle-Display';
$text-font: 'Gilroy';

$header-font-size: 6.4rem;
$text-font-size: 1.8rem;

$width-sm: 480px;
$width-md: 720px;
$width-lg: 960px;
$width-xl: 1120px;
$width-xxl: 1440px;

:root {

}

@media (max-width: $width-sm) {
  :root {

  }
}

@media (min-width: ($width-sm + 1px)) and (max-width: $width-md) {
  :root {

  }
}

@media (min-width: ($width-md + 1px)) and (max-width: $width-lg) {
  :root {

  }
}

@media (min-width: ($width-lg + 1px)) and (max-width: $width-xxl) {
  :root {

  }
}

@media (min-width: calc($width-xxl + 1px)) {
  :root {

  }
}
