@use 'colors' as colors;

@font-face {
  font-family: Chronicle-Display;
  src: url('/src/fonts/Chronicle-Display-Semibold.otf');
  font-weight: 600;
}

@font-face {
  font-family: Gilroy;
  src: url('/src/fonts/Gilroy-ExtraBold.otf');
  font-weight: 800;
}

$header-font: 'Chronicle-Display';
$text-font: 'Gilroy';

$width-xs: 300px;
$width-sm: 480px;
$width-md: 768px;
$width-lg: 1024px;
$width-xl: 1200px;