@use './scss/abstract/index' as *;
@use './scss/layout/' as layout;

*, *::before, *::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  margin: 0;
  background-color: $bg-color;
  color: $text-color;
  font-family: $text-font;
  position: relative;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 1.8rem;

  @include xl {
    font-size: 1.4rem;
  }

  @include sm {
    font-size: 1.2rem;
  }

  @include xs {
    font-size: 3vw;
  }
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: $text-color;
}

picture img {
  object-fit: cover;
  width: 100%;
}

.container {
  margin-inline: auto;

  &_default {
    max-width: 1462px;

    @include xxl {
      width: 76.145%;
    }

    @include xl {
      width: 70%;
    }

    @include sm {
      width: 85%;
    }
  }

  &_wide {
    width: 91.7%;
    max-width: 1760px;
    @include flex-standard;
    align-items: center;

    @include lg {
      width: 85%;
    }
  }
}

.title {
  margin: 0;
  font-family: $header-font;

  &_minor {
    color: $accent-color;
    font-family: $text-font;
    font-size: 2.4rem;
    line-height: 1.3;
    margin-bottom: 1em;
  }
}

.subtitle {
  display: flex;
  align-items: center;
  color: $accent-color;
  text-transform: uppercase;
  letter-spacing: 0.33em;
  line-height: 1.2;
  margin: 0;
  gap: 1.8em;

  @include sm {
    gap: 0;
  }

  &::before {
    content: "";
    width: 4em;
    height: 2px;
    background-color: $accent-color;

    @include sm {
      display: none;
    }
  }
}

.btn {
  font-family: $text-font;
  font-size: 1.8rem;
  background-color: transparent;
  border: none;
  width: fit-content;
  padding: 0;
  line-height: 1.21;
  display: flex;
  align-items: center;
  gap: 0.9em;
  cursor: pointer;
  @include animation (color, 0.5s);

  @include lg {
    font-size: 1.6rem;
  }

  @include xs {
    font-size: 5vw;
  }

  &::after {
    content: "";
    display: block;
    width: 0.9em;
    aspect-ratio: 2 / 3;
    background-image: url("./img/svg/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    @include animation-all (0.5s);
  }

  &_default {
    color: $accent-color;

    &::after {
      filter: brightness(0) saturate(100%) invert(74%) sepia(63%) 
        saturate(271%) hue-rotate(357deg) brightness(104%) contrast(97%);
    }
  }

  &_banner {
    color: $text-color;

    &::after {
      transform: rotate(90deg);
      filter: brightness(0) saturate(100%) invert(100%) sepia(100%) 
        saturate(0%) hue-rotate(186deg) brightness(107%) contrast(101%);
    }
  }
}

.logo__link img {
  vertical-align: middle;

  @include xs {
    width: 40vw;
  }
}

.link {
  @include animation(color, 0.5s);
}

@keyframes bounce {
  from {
    transform: rotate(90deg) translateX(0px);
  }
  50% {
    transform: rotate(90deg) translateX(10px);
  }
  to {
    transform: rotate(90deg) translateX(0px);
  }
}

@keyframes bounce-horizontal {
  from {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(10px) scale(1.2);
  }
  to {
    transform: translateX(0) scale(1);
  }
}

@media (hover: hover) {
  .btn {
    &_default:hover {
      color: $text-color;

      &::after {
        animation: bounce-horizontal 1.5s ease infinite;
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) 
          saturate(0%) hue-rotate(186deg) brightness(107%) contrast(101%);
      }
    }

    &_banner:hover {
      &::after {
        animation: bounce 1.5s ease infinite;
      }
    }
  }

  .link:hover {
    color: $accent-color;
    text-decoration: underline;
  }
}